body {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    background-color: black;
    color: #7fb3ff;
}

h1 {
    font-family: "Bungee Spice", sans-serif;
}

nav {
    text-align: center;
}

.masthead {
    padding: 2em 0;
}